@media screen and (min-width: 1024px) {
  #navbar button {
    font-size: 1.25rem;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    font-size: 12px;
  }
  #navbar button {
    font-size: 1.0rem;
  }
}

html, body, #map-canvas {
  height:100%;
  width: 100%;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

#navbar {
  position: fixed;
  top: 15px;
  height: 50px;
  left: 10%;
  width: 79%;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 3%, rgba(229,235,238,1) 84%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(255,255,255,1)), color-stop(84%,rgba(229,235,238,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 3%,rgba(229,235,238,1) 84%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 3%,rgba(229,235,238,1) 84%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 3%,rgba(229,235,238,1) 84%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 3%,rgba(229,235,238,1) 84%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5ebee',GradientType=0 ); /* IE6-9 */
  z-index: 10;
  border:1px solid #696969;
  border-radius:10px;
  box-shadow: -1px 3px 10px #888888;
}

#navbar ul {
  top: 1%;
  height: 98%;
  width: 95%;
  list-style: none;
  float: left;
  margin: 0 3% 0 2%;
  padding: 0;
  border-radius: 20px;
}

#navbar li {
  display: inline;
  padding: 0;
  margin: 0;
  border-radius: 20px;
}

#navbar button {
  height: 100%;
  width: 24.5%; 
  padding: 0;
  border: none;
  border-right: 1px solid #696969   ;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.1);
  text-size-adjust: none;
  -moz-text-size-adjust: none; 
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  font-family: helvetica neue, verdana, sans;
  color: #696969;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 3%, rgba(229,235,238,1) 84%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(255,255,255,1)), color-stop(84%,rgba(229,235,238,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 3%,rgba(229,235,238,1) 84%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 3%,rgba(229,235,238,1) 84%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 3%,rgba(229,235,238,1) 84%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 3%,rgba(229,235,238,1) 84%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5ebee',GradientType=0 ); /* IE6-9 */

}



#navbar .left {
  border-left: none;
}

#navbar .right {
  border-right: none;
}

.toplayer, .toplayerRoutes, .destloclayer, .userloclayer, .stoplayer, .toplayer svg, .toplayerRoutes svg, .destloclayer svg, .userloclayer svg, .stoplayer svg {
  position: absolute;
}

.toplayer svg, .destloclayer svg, .userloclayer svg {
  width: 40px;
  height: 20px;
  font: 9px sans-serif;
  font-weight: bold;
}

.stoplayer svg {
  width: 60px;
  height: 40px;
  font: 10px sans-serif;
  font-weight: bold;
  font-color: black;
}

.stop {
  stroke: black;
  stroke-width: 1.5px;
}

.toplayerRoutes svg {
  width: 2000px;
  height: 2000px;
  padding-right: 100px;
  font: 9px sans-serif;
  font-weight: bold;
}

.path {
  fill: none;
  stroke: black
  stroke-width: 3;
}

.hidden {
  display:none;
}

.toplayer circle {
  fill: white;
}

.bus {
  stroke: black;
  stroke-width: 1.5px;
  fill-opacity: 0;
  border-radius: 10px;
}

.timetext {
  z-index: 5;
}

rect {
  z-index: 4;
}
