html, body, #map-canvas {
  height:100%;
  width: 100%;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.toplayer, .toplayerRoutes, .clicklayer, .userloclayer, .stoplayer, .toplayer svg, .toplayerRoutes svg, .clicklayer svg, .userloclayer svg, .stoplayer svg {
  position: absolute;
}

.toplayer svg, .clicklayer svg, .userloclayer svg {
  width: 40px;
  height: 20px;
  font: 9px sans-serif;
  font-weight: bold;
}

.stoplayer svg {
  width: 60px;
  height: 40px;
  font: 9px sans-serif;
  font-weight: bold;
  font-color: black;
}

.stop {
  stroke: black;
  stroke-width: 1.5px;
}

.toplayerRoutes svg {
  width: 2000px;
  height: 2000px;
  padding-right: 100px;
  font: 9px sans-serif;
  font-weight: bold;
}

.path {
  fill: none;
  stroke: black
  stroke-width: 3;
}

.hidden {
  display:none;
}

.toplayer circle {
  fill: white;
}

.bus {
  stroke: black;
  stroke-width: 0px;
  fill-opacity: 0;
}