@media screen and (min-width: 1024px) {
  #navbar button {
    font-size: 1.25rem;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    font-size: 12px;
  }
  #navbar button {
    font-size: 1.0rem;
  }
}

html, body, #map-canvas {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

#navbar button:active {
  /*-moz-box-shadow: 0 1px #000 inset;
  -webkit-box-shadow: 0 1px #000 inset;*/
  position: relative; /* sink effect */
  top: 1px;
  background: rgb(220,225,232); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(220,225,232,1) 9%, rgba(242,242,242,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(9%,rgba(220,225,232,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(220,225,232,1) 9%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(220,225,232,1) 9%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(220,225,232,1) 9%,rgba(242,242,242,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(220,225,232,1) 9%,rgba(242,242,242,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dce1e8', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

:focus {
  outline: none;
}

#navbar {
  position: fixed;
  height: 50px;
  width: 79%;
  top: 15px;
  left: 10%;
  z-index: 10;
}

#navbar ul {
  top: 1%;
  height: 98%;
  width: 98%;
  margin: 0 2% 0 2%;
  padding: 0;
  box-shadow: 0 4px 2px -2px #888888;
  border-radius: 10px;
  display: table;
  table-layout: fixed;
}

#navbar li {
  display: table-cell;
  padding: 0;
  margin: 0;
}

#navbar button {
  border-top: 1px solid #696969;
  border-bottom: 1px solid #696969;
  border-right: 1px solid #696969;
  border-left: 0px;
  margin: 2px 0 0;
  height: 100%;
  width: 100%; 
  padding: 0;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.1);
  text-size-adjust: none;
  -moz-text-size-adjust: none; 
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  font-family: helvetica neue, verdana, sans;
  color: #696969;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 3%, rgba(229,235,238,1) 84%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(255,255,255,1)), color-stop(84%,rgba(229,235,238,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 3%,rgba(229,235,238,1) 84%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 3%,rgba(229,235,238,1) 84%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 3%,rgba(229,235,238,1) 84%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 3%,rgba(229,235,238,1) 84%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5ebee',GradientType=0 ); /* IE6-9 */
}

#navbar .left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left: 1px solid #696969;
}

#navbar .left:active {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: 1px solid #696969;
  border-left: 1px solid #696969;
}

#navbar .right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 1px solid #696969;
}

#navbar .right:active {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 1px solid #696969;
}

.toplayer, .toplayerRoutes, .destloclayer, .userloclayer, .stoplayer, .toplayer svg, .toplayerRoutes svg, .destloclayer svg, .userloclayer svg, .stoplayer svg {
  position: absolute;
}

.toplayer svg, .destloclayer svg, .userloclayer svg {
  width: 40px;
  height: 22px;
  font: 9px sans-serif;
  font-weight: bold;
}

.stoplayer svg {
  width: 60px;
  height: 40px;
  font: 10px sans-serif;
  font-weight: bold;
  font-color: black;
}

.stop {
  stroke: black;
  stroke-width: 1.5px;
}

.toplayerRoutes svg {
  width: 2000px;
  height: 2000px;
  padding-right: 100px;
  font: 9px sans-serif;
  font-weight: bold;
}

.path {
  fill: none;
  stroke: black
  stroke-width: 3;
}

.hidden {
  display: none;
}

.toplayer circle {
  fill: white;
}

.bus {
  stroke: black;
  stroke-width: 1.5px;
  fill-opacity: 0;
  border-radius: 10px;
}

.user, .dest {
  stroke: black;
  stroke-width: 1.5px;
  fill: black;
}

.user text {
  font-weight: bolder;
  font-size: 11;
}

.timetext {
  z-index: 5;
  font-size: 1.2em;
}

rect {
  z-index: 4;
}
